{%extends 'core/base.html'%}

{% block title %} Password Reset {% endblock %}

{%block content%}
<div class="lg:w-4/5 xl:w-3/5 my-6 mx-auto p-6 bg-cyan-950 rounded-xl">
    <h1 class="mb-6 text-3xl text-center">Reset Password</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
            <label class="inline-block mb-2">{{ field.label_tag }}</label><br>
            {{ field }}
            {% if field.errors %}
	        	<small>{{ field.errors|striptags  }}</small> 
	        {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="Send" class="px-6 py-1 my-5 text-white font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700 transition duration-300 ease-in-out">
        <a href="{%url 'myauth:login' %}"  class="px-6 py-2 my-5 text-white font-semibold bg-red-500 text-white rounded-xl hover:bg-red-700 transition duration-300 ease-in-out">Cancel</a>
    </form>
</div>
{%endblock content%}