{%extends 'core/base.html'%}

{% block title %} New Password {% endblock %}

{%block content%}

<div class="lg:w-4/5 xl:w-3/5 my-6 mx-auto p-6 bg-cyan-950 rounded-xl">
	<h2 class="mb-6 text-3xl text-center">Password Reset Confirm</h2>

	<form method="post" action=".">
	    {% csrf_token %}
	
	    {% for field in form %}
			<div class="mb-3">
	    		<label class="inline-block mb-2">{{ field.label_tag }}</label><br>
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
			</div>
		{% endfor %}
	  
	  <div>
	    <button type="submit" class="px-6 py-1 text-white font-semibold bg-teal-500 rounded-xl hover:bg-teal-700 transition duration-300 ease-in-out">Reset Password</button>
	  </div>
	</form>
</div>

{%endblock content%}